body {
	text-align: center;
	font: 16px "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

.material-icons {
	vertical-align: middle;
	font-size: inherit !important;
}

#course_index_page {
	text-align: left;
	table {
		width: 100%;
		text-align: center;

		tr:first-child {
			border-bottom: 1px solid black
		}
	}
}
#course_manage_page h3 {
    border-bottom: 3px solid royalblue;
    width: 100%;
    margin: 15px 0px;
    text-align: left;
}

select {
    background: royalblue;
    color: white;
}

[type=button], [type=reset], [type=submit], button {
    cursor: pointer;
    color: white;
    background: royalblue;
    padding: 12px 30px;
    border-radius: 8px;
}

[type=button]:hover, [type=reset]:hover, [type=submit]:hover, button:hover {
    color: royalblue;
    background: white;
}
